@use '../helpers' as *;

pre,
pre[class*='language-'] {
	font-size: 0.9rem;
	line-height: 1.4;
	font-family: $jb;
	margin: 0;
	padding: 1rem 10px;
	width: 100%;
	max-width: 100%;
	code {
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
}

.code-imgs-columns {
	.column {
		position: relative;
		max-width: 300px;
		margin: 0 auto 20px;
		pre[class*='language-'] {
			margin: 0;
			padding: 12px 10px 16px 8px;
			font-size: 0.8rem;
			width: 100%;
			max-width: 100%;
			code {
				white-space: pre-wrap;
				font-size: 0.8rem;
				width: 100%;
				max-width: 100%;
			}
		}
		img {
			max-width: 100%;
			display: block;
			margin: 0;
			width: 100%;
		}
	}
	@include md {
		display: flex;
		justify-content: space-between;
		margin-right: -200px;
		.column {
			flex: 0 0 32%;
			max-width: 32%;
			margin: 0;
		}
	}

	@include lg {
		margin-right: -250px;
		justify-content: flex-start;
		.column {
			flex: 0 0 250px;
			max-width: 250px;
			margin-right: 20px;
		}
	}
}

.code-img {
	position: relative;
	background: #f5f2f0;

	img {
		max-width: 300px;
		display: block;
		margin-top: 5px;
	}
	pre[class*='language-'] {
		border-bottom: 1px solid gray;
		margin: 0;
		padding: 1rem 10px;
		font-size: 0.8rem;
		width: 100%;
		max-width: 100%;
		code {
			font-size: 0.8rem;
			width: 100%;
			max-width: 100%;
		}
	}

	@include md {
		display: flex;
		margin-right: -200px;
		margin-bottom: 30px;
		pre[class*='language-'] {
			border-bottom: none;
		}
		img {
			flex: 0 0 250px;
			max-width: 250px;
			align-self: flex-start;
			position: sticky;
			top: 0;
			margin: 0;
		}
	}

	@include lg {
		margin-right: -250px;
		img {
			flex: 0 0 250px;
			max-width: 250px;
		}
	}

	pre[class*='language-'] {
		margin: 0;
		flex-grow: 1;
	}
}
