@use '../helpers' as *;
@use 'sass:list';

.nav a.home-link {
	display: block;
	background: none;
	font-weight: 700;
	font-family: $jb;
	text-transform: uppercase;
	width: 3.5rem;
	height: 3.5rem;
	outline: 2px none $turquoise;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $magenta;
	&:after {
		content: none;
	}
	svg {
		height: 2rem;
		width: auto;
		// fill: $magenta;
		fill: list.nth($turquoise_light, 9);
		display: block;
		overflow: visible;
		.m-shape {
			transition: all 200ms linear;
		}
		.rect-shape {
			transition: all 200ms linear;
		}
	}
	&:hover,
	&:focus {
		svg {
			.m-shape {
				transform: translate(-10px, 0);
			}
			.rect-shape {
				transform: translate(10px, 0);
			}
		}
	}
}

nav.nav {
	justify-content: end;
	grid-column-gap: 0.35rem;
	position: absolute;
	font-size: 1.2rem;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 1rem 3% 0 5%;

	a.home-link {
		&:hover,
		&:focus {
			outline: 2px solid $turquoise;
			border-radius: 0.5rem;
		}
		&:focus {
			outline: 2px solid var(--color-orange-3);
		}
		&:focus:not(:focus-visible) {
			outline: 2px solid $turquoise;
		}
		&:focus-visible {
			outline: 2px solid var(--color-orange-3);
		}
	}

	ul.nav-list {
		display: flex;
		position: relative;
		flex-wrap: wrap;
		justify-content: flex-end;
		line-height: 1;
		padding: 0;
		margin: 0;
		list-style: none;

		a {
			transition: none;
			padding: 0.2rem 0.15rem;
			margin: 0 0.5rem;
			display: block;

			&:focus {
				outline: 2px solid $orange;
			}
			&:focus:not(:focus-visible) {
				outline: none;
			}
			&:focus-visible {
				outline: 2px solid $orange;
			}
		}
	}

	@include sm {
		padding: 1rem 5% 0;
		font-size: 1.7rem;
		ul.nav-list a {
			margin: 0 1rem;
			padding: 0.2rem 0.3rem;
		}
	}
}
