@use '../helpers' as *;

.post-title-wrap.title-wrap {
	.date {
		margin-top: 2rem;
	}
}

.content.post {
	max-width: 800px;
	margin-right: auto;

	@include lg {
		// max-width: 850px;
	}

	p img {
		max-width: 90%;
		height: auto;
		margin: 0 auto;
		display: block;
	}

	h2 {
		margin-top: 3rem;
	}

	ul {
		> li {
			margin-bottom: 1rem;
			ul li {
				margin-bottom: 0.5rem;
			}
		}
	}
}
