@use '../helpers' as *;

.content.post {
	max-width: 800px;
	margin-right: auto;

	@include lg {
		// max-width: 850px;
	}

	p img {
		max-width: 90%;
		height: auto;
		margin: 0 auto;
		display: block;
	}
}
