@use '../helpers' as *;
@use 'sass:list';

.post-title-wrap.title-wrap {
	.date {
		margin-top: 1rem;
	}
	.tags-list {
		margin-top: 2rem;
	}
}

.content.post {
	max-width: 800px;
	margin-right: auto;

	p.caption {
		text-align: center;
		font-size: var(--step--1);
	}

	p img {
		max-width: 90%;
		height: auto;
		margin: 0 auto;
		display: block;
	}

	h2 {
		margin-top: 3rem;
	}

	ul {
		> li {
			margin-bottom: 1rem;
			ul li {
				margin-bottom: 0.5rem;
			}
		}
	}
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	td,
	th {
		padding: 0.3rem 0.5rem;
	}
	tr {
		&:nth-child(2n-1) {
			background-color: list.nth($turquoise_light, 7);
			th[scope='row'] {
				background-color: list.nth($turquoise_light, 6);
			}
		}
		&:nth-child(2n) {
			background-color: list.nth($turquoise_light, 9);
			th[scope='row'] {
				background-color: list.nth($turquoise_light, 5);
			}
		}
	}
	th {
		background-color: list.nth($turquoise_light, 3);
	}
}

table.smaller {
	table-layout: auto;
	font-size: 80%;
	td,
	th {
		padding: 0.1rem;
		border-bottom: 1px solid list.nth($turquoise_light, 3);
	}
}
