@use '../helpers' as *;
@use 'sass:list';

.tag {
	color: $space;
	background: list.nth($mint_light, 3);
	display: inline-block;
	padding: 3px 10px;
	border-radius: 10px;
	margin: 0 4px 5px 0;
	transition: background-color 150ms;
}

a.tag {
	&:after {
		content: none;
	}
	&:hover,
	&:focus {
		background: $space;
		color: list.nth($mint_light, 3);
		outline: 2px solid $orange;
	}
}
