@use '../helpers' as *;
@use 'sass:list';

.items-list {
	.item {
		--imgSize: 230px;
		--top: calc((var(--imgSize) * 0.67) * 0.25);
		--imgBottom: calc((var(--imgSize) * 0.67) - var(--top));
		--sideCol: calc(var(--imgSize) * 0.15);
		--padSide: 1rem;
		position: relative;
		z-index: 0;
		width: 100%;
		margin-bottom: 100px;
		z-index: 1;
		display: grid;
		grid-template-columns: var(--imgSize) 1fr;
		grid-template-rows: min-content min-content var(--imgBottom) auto;
		&:before {
			left: auto;
			right: 0;
		}

		.img {
			max-width: 380px;
			width: var(--imgSize);
			grid-column: 1;
			grid-row: 3;
			align-self: end;
			border: 2px solid #21c3a3;
			border-radius: 3px;
		}

		.title-link {
			display: block;
			grid-row: 1;
			grid-column: 2;
			padding-right: var(--padSide);
			text-align: right;
			margin-bottom: 0.3rem;
			margin-left: auto;
			&:hover,
			&:focus {
				// color: list.nth($blue_dark, 7);
				color: $space;
			}
			h2.h4 {
				margin: 0;
			}
			&:after {
				content: none;
			}
		}
		.tags-list {
			pointer-events: none;
			grid-row: 2;
			grid-column: 1 / 3;
			margin-bottom: 0.5rem;
			width: calc(100% - var(--sideCol));
			padding-right: var(--padSide);
			text-align: right;
			margin-bottom: 0.3rem;
			margin-left: auto;
			.tag {
				pointer-events: all;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		.work-item-content {
			background-color: transparentize(list.nth($turquoise_light, 9), 0.1);
			padding: 1rem var(--padSide);
			border-radius: 5px;
			grid-row: 3 / 5;
			grid-column: 1 / 3;
			box-shadow: 15px 10px 20px -10px #{transparentize(list.nth($turquoise_dark, 7), 0.8)};
			width: calc(100% - var(--sideCol));
			margin-left: auto;
		}

		@include xs-down {
			margin-right: -15px;
			margin-left: -15px;
			width: calc(100% + 30px);
			.title-link {
				grid-column: 1 / 3;
			}

			&:nth-child(2n) {
				.title-link {
					grid-column: 1 / 3;
				}
			}
		}

		@include xs {
			--imgSize: 270px;
			--top: calc((var(--imgSize) * 0.67) * 0.35);
			--sideCol: calc(var(--imgSize) * 0.35);
		}

		@include sm {
			--imgSize: 290px;
			--padSide: 2rem;
			--sideCol: calc(var(--imgSize) * 0.3);
			padding-top: 1rem;
			.title-link,
			.tags-list {
				margin-bottom: 0.5rem;
			}
			.work-item-content {
				padding-top: 1.5rem;
			}
		}

		@include md {
			--imgSize: 340px;
			margin-bottom: 150px;
		}
	}

	@include md {
		max-width: 900px;
		margin: 0 auto;
	}
}

.items-list {
	.item.work-item {
		.tags-list .tag {
			background: list.nth($orange_light, 3);
		}
		&:nth-child(2n) {
			grid-template-columns: 1fr var(--imgSize);
			.title-link {
				grid-column: 1;
			}
			.tags-list,
			.title-link {
				padding-left: var(--padSide);
				padding-right: 0;
				text-align: left;
				margin-left: 0;
			}
			.work-item-content {
				margin-left: 0;
			}
			.img {
				grid-column: 2;
			}

			@include xs-down {
				.title-link {
					grid-column: 1 / 3;
				}
			}
		}
	}
}

.img.img-color {
	width: 100%;
	position: relative;
	background-color: list.nth($turquoise_light, 3);
	z-index: -2;
	overflow: hidden;

	.img-inner {
		position: relative;
		padding-bottom: 67%;
		width: 100%;
		height: 0;
		filter: grayscale(100%);
		mix-blend-mode: multiply;
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		transition: all 500ms #{$easein_sine};
	}
	&:after {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		content: '';
		transform: none;
		background: list.nth($blue_light, 5);
		background-image: linear-gradient(
			45deg,
			#{list.nth($blue_light, 5)},
			#{list.nth($pink_light, 1)}
		);
		background-image: linear-gradient(45deg, #34acf8 25%, #3927e3, #aa1ccd, #b81365);
		background-size: 200% 150%;
		background-position: 0% 100%;
		background-repeat: no-repeat;
		mix-blend-mode: soft-light;
		transition: all 500ms #{$easein_sine};
	}

	&:hover,
	&:focus {
		img {
			transform: scale(1.05);
		}
		&:after {
			background-position: 100% 100%;
		}
	}
}

.post-list-new {
	.item {
		display: flex;
		background-color: transparentize(list.nth($turquoise_light, 9), 0.1);
		box-shadow: 15px 10px 20px -10px #{transparentize(list.nth($turquoise_dark, 7), 0.8)};
		border-radius: 5px;
		top: 0;
		padding-top: 0;
		margin-bottom: 5rem;

		.item-info {
			flex: 0 0 65%;
			padding: 1rem 2rem;
			.title-link {
				text-align: left;
				margin-left: 0;
			}
			.tags-list {
				text-align: left;
				grid-column: 2;
				width: 100%;
			}
			.work-item-content {
				grid-column: 2;
				width: 100%;
				background-color: transparent;
				box-shadow: none;
			}
		}

		.img {
			border: none;
			z-index: 1;
		}
	}
}
