$space: #2e294e;
$orange: #ff521b; // good on black, on white large
$orangedark: #dd3608;
$magenta: #b81365; // works on white, peach, nyanza, turquoise, mint
$blue: #0197f6;

$light: #f1f2f6;
$mint: #acfcd9; // works on space
$peach: #f8dda4;
$nyanza: #eeffdb;
$turquoise: #9aeade;

$v: 'Vollkorn', serif;
$jb: 'JetBrains Mono', monospace;

@mixin md {
	@media (min-width: 990px) {
		@content;
	}
}

@mixin lg {
	@media (min-width: 1280px) {
		@content;
	}
}

// 184, 19,  101
// 255, 255, 255
