@use './helpers' as *;

@use './base/font-face';
@use './base/normalize';
@use './base/accessibility';
@use './base/fonts';
@use './base/base';
@use './base/page-layout';

@use './partials/nav';
@use './partials/code-imgs';
@use './partials/posts';
@use './partials/post-list';
@use './partials/about';
@use './partials/home';
@use './partials/tags';
@use './partials/footer';
@use './partials/work-list';

@use './vendor/prism-a11ydark';

img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: inline-block;
}

body.page-home {
	// background-color: $light;
}
