@use './helpers' as *;
@use '../fonts/icomoon/style.scss';

@use './base/font-face';
@use './base/normalize';
@use './base/accessibility';
@use './base/fonts';
@use './base/base';
@use './base/page-layout';

@use './partials/nav';
@use './partials/code-imgs';
@use './partials/posts';
@use './partials/post-list';
@use './partials/about';
@use './partials/home';
@use './partials/tags';
@use './partials/footer';
@use './partials/work-list';
@use './partials/img-colorify';
@use './partials/frame';
@use './partials/pagination';

// @use './vendor/prism-a11ydark';
@use './vendor/prism-evening-light';
@use './vendor/reasonable-colors-cssvars';
img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: inline-block;
}
