<footer class="footer">

    <div class='footer-inner wrapper'>
        <div class='footer-links'>
            <a href='/credits'>Credits</a>
            <a href='/accessibility'>Accessibility</a>
            <a href='/changelog'>Changelog</a>
        </div>

        <div class='footer-socials'>
            <a href="https://www.linkedin.com/in/michelle-enos/">
                <i class='icon-'>linkedin</i>
            </a>
            <a href="https://github.com/crankysparrow">
                <i class='icon-'>github</i>
            </a>
            <a href="https://codepen.io/crankysparrow">
                <i class='icon-'>codepen</i>
            </a>
        </div>
    </div>

</footer>