<footer class="footer">

    <div class='footer-inner wrapper'>
        <div class='footer-item'>
            <a href='/credits'>Credits</a>
        </div>
        <div class='footer-item'>
            <a href='/accessibility'>Accessibility</a>
        </div>
    </div>

</footer>