<nav class="nav">
    <a aria-label="home" class="home-link" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 91 83">
            <g fill-rule="evenodd">
                <path class='m-shape' fill-rule="nonzero" d="M55.57 4v75H43V20.65l-7.47 26.09H24.36l-7.3-24.73V79H5V4h15.16l7.18 23.84A85.3 85.3 0 0 1 30 38.73a82.47 82.47 0 0 1 2.44-10.18l.22-.71L39.73 4h15.84Z"/>
                <path class='rect-shape' d="M54.67 68.16H87V79H54.67z"/>
                <path class='rect-shape' d="M54.67 4H87v10.84H54.67z"/>
                <path class='rect-shape' d="M54.67 34.72h26v10.84h-26z"/>
            </g>
        </svg>
    </a>

    <button class='ham' id='nav-open' aria-expanded='false'>
        <span class='btn-text'>menu</span>
        <span class='btn-inner'></span>
    </button>

    <ul class="nav-list" aria-hidden='true'>
        <li>
            <a href="/thoughts">notes</a>
        </li>
        <li>
            <a href="/about">about</a>
        </li>
        <li>
            <a href="/work">work</a>
        </li>
    </ul>

</nav>