<nav class="nav">
    <a aria-label="home" class="home-link" href="/">me</a>
    <ul class="nav-list">
        <li>
            <a href="/posts">posts</a>
        </li>
        <li>
            <a href="/about">about</a>
        </li>
    </ul>
</nav>
