<div class='post-list post-list-imgs'>
    <div class='post-list-inner'>
        {% for post in currentCollection | default(collections.post) %}
            <div class='post-card post-card-images {% if post.data.img %}has-img{% else %}no-img{% endif %}'>
                {% if post.data.img %}
                    <div class='img-wrap img img-color'>
                        <div class='img-inner'>
                            <img src="{{post.data.img | url }}" class='post-img' alt='{{ post.data.imgAlt }}'/>
                        </div>
                    </div>
                {% endif %}
                <div class='post-info'>
                    <a class='post-title h4 reset'  href="{{ post.url | url }}">{{ post.data.title }}</a>
                    <div class='excerpt'>{{ post.data.excerpt }}</div>
                    <div class='tags-list'>
                        {% for tag in post.data.tags | filterTags %}
                            {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                            <a class='tagpill reset caps' href="{{ tagUrl | url }}">#{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>