
<a href="{{ post.url | url }}" class='post-card block post-card-images'>
    <div class='img-wrap'>
        {% if post.data.img %}
            <img src="{{post.data.img | url }}" class='post-img' alt='{{ post.data.imgAlt }}' />
        {% endif %}    
    </div>
    <div class='post-info'>                
        {% if post.data.page.date %}
            <div class='date caps'>{{ (post.data.page.date) | dateString }} </div>
        {% endif %}
        <h3 class='post-title h4'>{{ post.data.title }}</h3>
        <div class='excerpt'>{{ post.data.excerpt }}</div>
    </div>
</a>

