<table id="{{ id }}" class='smaller'>
    <tr>
        <th scope="row">p</th>
    </tr>
    <tr>
        <th scope="row">{{ colName }}</th>
    </tr>

</table>

<script>
    (function () {

        const cell = (res) => {
            let td = document.createElement('td')
            td.innerHTML = round(res, 2)
            return td
        }

        const round = (num, pos = 2) => {
            return Math.round(num * 10 * pos) / (10 * pos)
        }

        let table = document.getElementById('{{ id }}')
        let rows = table.querySelectorAll('tr')

        let p = 0
        while (p <= 1) {

            rows[0].appendChild(cell(p))
            rows[1].appendChild(cell({{ fnc[0] }}))

            p += 0.1
        }
    })()
</script>