---
layout: base.njk
title: home
---

<div class="wrapper home">
	<div class="title-wrap">
		<h1 class="home-h1">michelle enos</h1>

		<div class="description callout">front-end developer & web accessibility specialist</div>
	</div>

	<div class="content">
		<h2>recent posts</h2>

		<div class='post-list'>
			{%- for post in collections.post %}

				<a href="{{ post.url | url }}" class='post-card block'>
					<div class='date caps'>{{ (post.data.page.date) | dateString }} </div>
					<h3 class='post-title h4'>{{ post.data.title }}</h3>
					{# {% if post.data.img %}
						<img src="{{post.data.img | url }}" />
					{% endif %} #}
					<div class='excerpt'>{{ post.data.excerpt }}</div>
				</a>

			{%- endfor %}
		</div>
	</div>

</div>
