---
layout: base.njk
---

<div class="wrapper home">
	<header class="header">
		<h1>michelle enos</h1>
	</header>

	<div class="content">
		<h2>List of posts</h2>

		<ul>
			{%- for post in collections.post %}
			<li>
				<a href="{{ post.url | url }}">{{ post.data.title }}</a>
			</li>
			{%- endfor %}
		</ul>
	</div>

	<pre>
        {{ collections | console }}
    </pre>
</div>
