---
title: notes
subtitle: "things i make, things i like. reminders to myself. not a blog, not in chronological order, and nothing is final or even particularly polished."
pagination:
    data: collections.post
    size: 9
    alias: notes
permalink: "notes{% if pagination.pageNumber>0 %}/page/{{ pagination.pageNumber + 1 }}{% endif %}/"
layout: page.njk
---

{% block content %}

    {% set currentCollection = notes %}
    {% include 'partials/post-list-imgs.njk' %}

    <div class='pagination'>
        {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}">Previous</a>
        {% else %}
            <div class='prev-empty'></div>
        {% endif %}
        {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}">Next</a>
        {% endif %}
    </div>

{% endblock %}