---
layout: page.njk
title: posts
---

	<div class="title-wrap">
		<h1>posts</h1>

		<div class="description callout">
            thoughts/notes. not exactly polished enough to call a 'blog' 
        </div>
	</div>

{% set currentCollection = collections.post %}
{% include 'partials/post-list-imgs.njk' %}