---
pagination:
    data: collections
    size: 1
    alias: tag
    filter: 
        - all
        - post
        - page
permalink: /tags/{{ tag | slugify }}/
layout: page.njk
eleventyComputed: 
  title: 'Tagged: “{{ tag }}”'
---

{% set currentCollection = collections[tag] %}
{% include 'partials/post-list-imgs.njk' %}