---
layout: page.njk
title: thoughts
subtitle: "notes on things i make, things i like. reminders to myself. not necessarily polished or final."
---

{% set currentCollection = collections.post %}
{% include 'partials/post-list-imgs.njk' %}