---
title: Work
layout: page.njk
tags: page
---

<div class="work-list items-list">
    {% for item in collections.work %}
        <div class='work-item item'>
            <a class='img img-color' href='{{ item.data.link }}'>
                <div class='img-inner'>
                    <img src='{{ item.data.img | url }}' alt="{{ item.data.imageAlt }}"/>
                </div>
            </a>

            <a class='title-link' href='{{ item.data.link }}'>
                <h2 class='h4 work-title'>{{ item.data.title }}</h2>
            </a>

            <div class='tags-list tech-tags'>
                {% for tech in item.data.tech %}
                    <div class='tagpill caps'>{{ tech }}</div>
                {% endfor %}
            </div>

            <div class='work-item-content'>
                {{ item.templateContent | safe }}
            </div>

        </div>
    {% endfor %}
</div>