---
layout: page.njk
title: 'about me'
---

<div class="img-content">
    <img class="selfie" src="{{ '/images/michelle.jpg' | url }}" alt="a selfie of me, smiling slightly in a sunny room"/>

    <div class="content">
        {{ content | safe }}
    </div>

</div>

