---
layout: base.njk
---

<main id="main">

    <div class="wrapper">

        <div class='title-wrap'>
            <h1>{{ title }}</h1>
            {% if subtitle %}
                <div class='description callout'>{{ subtitle }}</div>
            {% endif %}
        </div>


        {{ content | safe }}

    </div>

</main>