---
layout: base.njk
---

<main id='main'>
    <div class='wrapper'>

        <div class='title-wrap post-title-wrap'>
            <h1>{{ title }}</h1>

            <div class='subtitle step-2'>{{ excerpt }}</div>

            <div class='tags-list'>
                <span class='caps'>Tags:</span>
                {% for tag in tags | filterTags %}
                    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                    <a class='tagpill caps' href="{{ tagUrl | url }}">#{{ tag }}</a>
                {% endfor %}
            </div>

            {% if dateUpdated %}
                <div class='date'>
                    <strong>Last updated: </strong>{{ dateUpdated | dateString }}
                </div>
            {% endif %}

        </div>

        <div class="content post">
            {{ content | safe }}
            <div class='back'>
                <a href='/notes'> ← all notes</a>
            </div>
        </div>

    </div>
</main>