@use '../helpers' as *;
@use 'sass:map';
@use 'sass:list';

html {
	font-size: 16px;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: list.nth($turquoise_light, 6);
	*,
	&:before,
	&:after {
		box-sizing: inherit;
	}
}

#sketch {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
