@use '../helpers' as *;
@use 'sass:map';
@use 'sass:list';
@use '../../../node_modules/reasonable-colors/reasonable-colors.scss' as *;

html {
	font-size: 16px;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	// background: list.nth($turquoise_light, 6);
	// background: #d7fff7;
	background: $color-teal-1;
	max-width: 100vw;
	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}
}

#sketch {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
