@use '../helpers' as *;
@use '../vendor/reasonable-colors' as *;

@use 'sass:list';

:root {
	--step--2: 0.576rem;
	--step--1: 0.72rem;
	--step-0: 0.8rem;
	--step-1: 1.125rem;
	--step-2: 1.406rem;
	--step-3: 1.758rem;
	--step-4: 2.197rem;
	--step-5: 2.747rem;

	@include sm {
		--step--2: 0.64rem;
		--step--1: 0.8rem;
		--step-0: 1rem;
		--step-1: 1.25rem;
		--step-2: 1.563rem;
		--step-3: 1.953rem;
		--step-4: 2.441rem;
		--step-5: 3.052rem;
	}
}

body {
	font-family: 'Open Sans';
	font-weight: 400;
	// color: $space;
	color: $color-indigo-6;
	line-height: 1.6;
	font-size: var(--step-0);
	font-size: size(16);
	@include lg {
		font-size: size(18);
	}
}

@for $i from -1 through 5 {
	.step-#{$i} {
		font-size: var(--step-#{$i});
		line-height: 1.5;
	}
}

h1,
.h1 {
	font-size: var(--step-5);
	line-height: 1.2;
}
h2,
.h2 {
	font-size: var(--step-4);
	line-height: 1.1;
}

h3,
.h3 {
	font-size: var(--step-3);
	letter-spacing: size(-0.3);
	line-height: 1.2;
	font-weight: 500;
}

h4,
.h4 {
	font-size: var(--step-2);
	font-weight: 500;
}

h5,
.h5 {
	font-size: var(--step-1);
}

.caps {
	font-size: var(--step--1);
	letter-spacing: size(1.25);
	text-transform: uppercase;
	font-weight: 800;
	font-family: $jb;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
	margin-top: 0;
	margin-bottom: 1rem;
	font-family: $jb;
}

p {
	margin: 0 0 1rem;
	@include lg {
		margin-bottom: 1.5rem;
	}
}

.callout {
	font-size: var(--step-2);
	line-height: 1.5;
}

a {
	// color: $magenta;
	color: $color-raspberry-4;
	text-decoration: none;
	position: relative;
	transition: 200ms linear;

	img {
		display: block;
	}

	display: inline-block;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 4px;
		background-color: $color-orange-3;
		bottom: 0;
		left: 0;
		transform: scaleY(0.5);
		transition: all 200ms;
		transform-origin: bottom;
	}

	&:hover,
	&:focus {
		&:after {
			transform: scaleY(1);
		}
	}

	&.reset,
	.img-link & {
		&:after {
			content: none;
			width: auto;
			height: auto;
			background: transparent;
			bottom: auto;
			left: auto;
			transform: none;
		}
	}
}

strong {
	font-weight: 600;
}

pre {
	max-width: 100%;
	width: 100%;
}

code {
	font-size: 90%;
	background: var(--color-indigo-1);
}

pre,
code {
	font-family: $jb;
}
