@use '../helpers' as *;

header.header {
	position: relative;
	z-index: 9;
}

main#main {
	z-index: 1;
	position: relative;
}

.wrapper {
	margin-left: 7%;
	margin-right: 7%;
	padding-bottom: 150px;
	position: relative;

	@include lg {
		margin-left: 10%;
		margin-right: 10%;
	}

	.page-thoughts &,
	&.wrapper-sm {
		@include md {
			margin-left: 10%;
			margin-right: 10%;
		}
		@include lg {
			max-width: 1000px;
			margin: 0 auto;
		}
	}
}

.title-wrap {
	padding-bottom: 150px;
	padding-top: clamp(150px, 20%, 200px);
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	&.post-title-wrap {
		margin-left: 0;
	}
}

.page-wrap {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	min-height: 100vh;
	grid-template-columns: 100%;
	overflow: hidden;
	header {
		grid-row: 1;
	}
	main {
		grid-row: 2;
	}
	footer {
		grid-row: 3;
	}
}

.align-right {
	text-align: right;
}
